html,body{
    font-size: 16px;
    //background: linear-gradient(90deg,rgb(209, 167, 202)0%,rgb(160,79,146));
}
body{
    //background:#e4d5d5;
    background-image: url("./TGR_5659.jpg");
    background-repeat:repeat, no-repeat;
    background-position: center -1rem;
    background-attachment: fixed;
    width: 100%;

}
.main{
    //background: cadetblue;
    //opacity: 0.9;
    width: 500px;
    margin: 8rem auto;
}
h1{
    font-size: 2rem;
    margin-left: -5rem;
    width: 50px;
    background: brown;
    //color:blueviolet;
}
form{
    font-size: 1.5rem;
    padding: 1rem;
    background: hsla(250, 38%, 32%, 0.3);
    border-radius: 0.5rem;
    margin-left: 15rem;
    margin-right: -15rem;
    color: aliceblue;
}
.field{
    margin-left: 1rem;
    margin-bottom: 2rem;
}
//.field-person-index{
    //display:"flex";
//}
.field-person-index input{
    //margin-top: -8px;
    margin-bottom: 4px;
    font-size: 1.5rem;
    margin-left:2rem;
    border: none;
    width:250px;
    color: #470e2e;
    background: #f5efe3;
}
.question{
    margin-bottom: 0.5rem;
}
select{
    font-size: 1.3rem;
    background: #e9dcd7;
    color: #6f3857;
    border: none;
    margin-left: 1rem;
}
.labtop-row{
    display: flex;
    text-align: center;
}
.labtop-brand{
    display: flex;
    font-size: 1.2rem;
    margin: 0.5rem 1.2rem;
    width: 6rem;
}
.labtop-brand input{
    margin-top: -1px;
    width: 1.2rem;
    height: 1.2rem;
}
//.rd-brand{
    
//}
.reason{
    border:none;
    font-size: 1.2rem;
    background: #f5efe3;
    color: #2b394b;
}
.ans{
    border:none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 0.3rem 1.5rem;
    background: rgb(241, 202, 202);
    color: rgb(4, 10, 27);
}
.title{
    font-size: 2rem;
    text-align: center;
    background: rgba(3, 42, 97, 0.8);
    color: lavender;
    margin: -1rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.field-submit{
    margin-top: 1.5rem;
    margin-bottom: -2rem;
    text-align: center;
    //justify-content: flex-end;
}
